---
Checks: >
  bugprone-use-after-move,
  misc-static-assert,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance,
  readability-suspicious-call-argument,
  -clang-analyzer-optin.mpi*,
  -performance-noexcept-destructor,
  -readability-magic-numbers,

# Future options that are likely to be added:
#
# hicpp-signed-bitwise,
# bugprone-throwing-static-initialization
# readability-redundant-inline-specifier,
# readability-redundant-parentheses, (not available yet in llvm 20)
#  cppcoreguidelines-narrowing-conversions,
#  google-build-namespaces,
#  modernize-use-nullptr,
#  modernize-use-override,
#  performance-*,
#  performance-move-const-arg,
#  readability-else-after-return,
#  readability-math-missing-parentheses,
#  readability-named-parameter,
#  readability-non-const-parameter,
#  readability-string-compare,

# -clang-analyzer-optin.mpi* to avoid crash from llvm 15 to 17
# -readability-magic-numbers, to avoid false positives

CheckOptions:
- key:             readability-identifier-naming.ClassCase
  value:           CamelCase
- key:             readability-identifier-naming.EnumCase
  value:           CamelCase
- key:             readability-identifier-naming.FunctionCase
  value:           lower_case
- key:             readability-identifier-naming.MemberCase
  value:           lower_case
- key:             readability-identifier-naming.ParameterCase
  value:           lower_case
- key:             readability-identifier-naming.UnionCase
  value:           CamelCase
- key:             readability-identifier-naming.VariableCase
  value:           lower_case
- key:             readability-identifier-naming.IgnoreMainLikeFunctions
  value:           1
- key:             readability-redundant-member-init.IgnoreBaseInCopyConstructors
  value:           1
- key:             modernize-use-default-member-init.UseAssignment
  value:           1

#UseColor: true
