CompileFlags:
  Remove: [
      -fsycl,
      -fsycl-targets=*,
      --hipsycl-targets=*,
      --hipsycl-platform=*,
      --hipsycl-config-file=*,
      --hipsycl-cpu-cxx=*,
      --acpp-targets=*
    ]
  Add: [
      -Wconversion
    ]


#Diagnostics:
#  ClangTidy:
#    Add: 'bugprone-*'
