---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 125

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true

AlignEscapedNewlines: Right
AlignOperands:   true
AlignTrailingComments: true

BreakBeforeConceptDeclarations : true
NamespaceIndentation: All