---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 100

AccessModifierOffset: 0
EmptyLineBeforeAccessModifier : Always

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true

AlignEscapedNewlines: Right
AlignOperands:   true
AlignTrailingComments: true


BinPackArguments: false
BinPackParameters: false

AlwaysBreakTemplateDeclarations: MultiLine
AllowShortCaseLabelsOnASingleLine : true
BreakBeforeConceptDeclarations : true
NamespaceIndentation: All
#SeparateDefinitionBlocks: Leave
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: true

PenaltyReturnTypeOnItsOwnLine: 1
IndentPPDirectives: BeforeHash
AllowShortLambdasOnASingleLine: Empty
