CompileFlags:
  Remove: [-fsycl,-fsycl-targets=nvptx64-nvidia-cuda, -fsycl-targets=nvptx64-nvidia-cuda-sycldevice,-fsycl-targets=spir64_x86_64-unknown-unknown-sycldevice]
  Add: [
    -I/home/tim/Documents/these/codes/sycl_workspace/llvm/build/include,
    -I/home/tim/Documents/these/codes/sycl_workspace/llvm/build/include/sycl,
    -Wconversion
    ]