CompileFlags:
  Remove: [ -fsycl, -fsycl-targets=*, --hipsycl-targets=*, --hipsycl-platform=*, --hipsycl-config-file=*,--hipsycl-cpu-cxx=*]
  Add: [
    -Wconversion
    ]

# InlayHints:
#   Enabled: Yes
#   ParameterNames: Yes
#   DeducedTypes: Yes

# Diagnostics:
#   ClangTidy:
#     Add: [
#       modernize*
#       ]