[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/plf_nanotimer"]
	path = external/plf_nanotimer
	url = https://github.com/mattreecebentley/plf_nanotimer.git
[submodule "external/NVTX"]
	path = external/NVTX
	url = https://github.com/Shamrock-code/NVTX.git
[submodule "external/json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "doc/mkdocs/docs/assets/large-figures"]
	path = doc/mkdocs/docs/assets/large-figures
	url = https://github.com/Shamrock-code/doc-figures.git
[submodule "doc/sphinx/source/_static/large-figures"]
	path = doc/sphinx/source/_static/large-figures
	url = https://github.com/Shamrock-code/doc-figures.git
[submodule "external/mdspan"]
	path = external/mdspan
	url = https://github.com/kokkos/mdspan.git
