[submodule "external/pybind11"]
	path = external/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/plf_nanotimer"]
	path = external/plf_nanotimer
	url = https://github.com/mattreecebentley/plf_nanotimer.git
[submodule "external/NVTX"]
	path = external/NVTX
	url = git@github.com:Shamrock-code/NVTX.git
