Timothée David--Cléris <tim.shamrock@proton.me> <timothee.davidcleris@proton.me>
Timothée David--Cléris <tim.shamrock@proton.me> <timothee.davidcleri@gmail.com>
Timothée David--Cléris <tim.shamrock@proton.me> <timothee.david--cleris@ens-lyon.fr>

Yona Lapeyre <yona.lapeyre@ens-lyon.fr> <yona.lapeyre@ens-lyon.fr>
Yona Lapeyre <yona.lapeyre@ens-lyon.fr> <yona.lapeyre@gmail.com>
Yona Lapeyre <yona.lapeyre@ens-lyon.fr> <118538359+y-lapeyre@users.noreply.github.com>

Leodasce Sewanou <leodasce.sewanou@ens-lyon.fr> <113362281+Akos299@users.noreply.github.com>
Leodasce Sewanou <leodasce.sewanou@ens-lyon.fr> <lsewanou@MacBook-Air-2.local>
Leodasce Sewanou <leodasce.sewanou@ens-lyon.fr> <science.ing.guru24.02@gmail.com>
Leodasce Sewanou <leodasce.sewanou@ens-lyon.fr> Akos299 <leodasce.sewanou@ens-lyon.fr>

Thomas Guillet <T.A.Guillet@exeter.ac.uk> <T.A.Guillet@exeter.ac.uk>
