Timothée David--Cléris <timothee.davidcleris@proton.me> <timothee.davidcleris@proton.me>
Timothée David--Cléris <timothee.davidcleris@proton.me> <timothee.davidcleri@gmail.com>
Timothée David--Cléris <timothee.davidcleris@proton.me> <timothee.david--cleris@ens-lyon.fr>

Yona Lapeyre <yona.lapeyre@ens-lyon.fr> <yona.lapeyre@ens-lyon.fr>
Yona Lapeyre <yona.lapeyre@ens-lyon.fr> <yona.lapeyre@gmail.com> 
Yona Lapeyre <yona.lapeyre@ens-lyon.fr> <118538359+y-lapeyre@users.noreply.github.com> 