a.navbar-brand {
    padding: .1rem 0;
}

a[class^="sphx-glr-backref-module-"] {
    text-decoration: none;
    color: inherit;
}

a[class^="sphx-glr-backref-module-shamrock"] {
    text-decoration: underline;
}

html {
    --pst-header-height: 4rem;
}

/* hide download note in exemples, see https://github.com/matplotlib/matplotlib/pull/21455/files */
div.sphx-glr-download-link-note {
    display: none;
}

/* re-style the download button, see https://github.com/matplotlib/matplotlib/pull/21455/files */
div.sphx-glr-download a {
    background-color: #E3F0F6;
    background-image: none;
    color: #11557c;
    border: 0;
}

div.sphx-glr-download a:hover {
    background-color: #BCD4DF;
}

/* force video to be autoscaled by the page */
video.sphx-glr-single-img {
    width: 100% !important;
    height: auto !important;
}
