name: on PR

# Controls when the workflow will run
on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ci-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

jobs:

  main_workflow:
    name: CI
    uses: ./.github/workflows/main_workflow.yml
    with:
      run_build_push_docker: true
      light_ci: ${{ contains(github.event.pull_request.labels.*.name, 'light-ci') }}

  light_ci:
    name: Notify Light CI
    if: ${{ contains(github.event.pull_request.labels.*.name, 'light-ci') }}
    runs-on: ubuntu-latest
    steps:
      - name: Echo message
        run: |
          cat >> report_______light_ci.md <<'EOF'


          Light CI is enabled. This will only run the basic tests and not the full tests.
          Merging a PR require the job "on PR / all" to pass which is disabled in this case.
          EOF

      - uses: actions/upload-artifact@v4
        with:
          name: report_light_ci
          path: ./report_______light_ci.md

  all:
    needs: [ main_workflow ]
    # run always except for cancel
    if: ${{ always() && !cancelled() && !contains(github.event.pull_request.labels.*.name, 'light-ci') }}
    runs-on: ubuntu-latest
    steps:
    - name: Status summary
      run: |
        if [ "${{ needs.main_workflow.result }}" == "failure" ] || [ "${{ needs.main_workflow.result }}" == "canceled" ]; then
          echo "Tests failed."
          exit 1
        else
          exit 0
        fi
