name: On Schedule


on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
    # At 02:00 on Monday, Wednesday, and Friday.
    - cron:  '0 2 * * 1,3,5'


jobs:

  main_workflow:
    name: CI
    uses: ./.github/workflows/main_workflow.yml
    with:
      run_build_push_docker: true
      light_ci: false
